<div class="calendar-div">
    <ul>
        <li @onclick="(() => DaySelect(0))">
            <p>MON</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[0]"></div>
        </li>
        <li @onclick="(() => DaySelect(1))">
            <p>TUE</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[1]"></div>
        </li>
        <li @onclick="(() => DaySelect(2))">
            <p>WED</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[2]"></div>
        </li>
        <li @onclick="(() => DaySelect(3))">
            <p>THU</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[3]"></div>
        </li>
        <li @onclick="(() => DaySelect(4))">
            <p>FRI</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[4]"></div>
        </li>
        <li @onclick="(() => DaySelect(5))">
            <p>SAT</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[5]"></div>
        </li>
        <li @onclick="(() => DaySelect(6))">
            <p>SUN</p>
            <div>
                <p>1</p>
            </div>
            <div class="current-day-indycator @classNames[6]"></div>
        </li>
    </ul>
</div>

@code {
    public string[] classNames = { "", "", "", "", "", "", "today" };

    private void DaySelect(int id)
    {
        for (int i = 0; i < 7; i++)
        {
            classNames[i] = "";
        }

        classNames[id] = "today";
    }
}
